<ajax-loading [statusLoading]="statusLoading"></ajax-loading>
<div class="mt-1">
    <h1>{{pageTitle}}</h1>
</div>
<p class="lead">
    {{subTitle}}
</p>

<div class="table-responsive" *ngIf='clientes && clientes.length'> 
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th colspan="3">
                    <button class="btn btn-secondary btn-sm" (click)="ObterDados()">
                        <i class="fa fa-refresh" aria-hidden="true"></i> Atualizar
                    </button>
                    <a class="btn btn-secondary btn-sm"
                       routerLink="/clientes/adicionar">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> Novo
                    </a>
                </th>
                <th>
                    <span class="pull-right">
                        <i class="fa fa-caret-square-o-up" style="cursor:pointer;" aria-hidden="true"></i>
                        <i class="fa fa-caret-square-o-down" style="cursor:pointer;" aria-hidden="true"></i>
                        1/1
                    </span>
                </th>
            </tr>

            <tr>
                <th>Nome</th>
                <th>Sexo</th>
                <th>Data Cadastro</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cli of clientes">
                <td>{{cli.nome}}</td>
                <td>{{CheckEnum(cli.sexo)}}</td>
                <td>{{cli.cadastro | date:'dd/MM/yy hh:MM'}}</td>
                <td>
                   
                </td>

            </tr>
        </tbody>
    </table>
</div>