<ajax-loading [statusLoading]="statusLoading"></ajax-loading>
<div class="mt-1">
    <h1>{{pageTitle}}</h1>
</div>
<p class="lead">
    {{subTitle}}
</p>

<div class="table-responsive"> 
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th colspan="4">
                    <button class="btn btn-secondary btn-sm" (click)="ObterDados()">
                        <i class="fa fa-refresh" aria-hidden="true"></i> Atualizar
                    </button>
                    <a class="btn btn-secondary btn-sm" routerLink="/usuarios/adicionar">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> Novo
                    </a>
                </th>
                <th>
                    <span class="pull-right">
                        <i class="fa fa-caret-square-o-up" style="cursor:pointer;" aria-hidden="true"></i>
                        <i class="fa fa-caret-square-o-down" style="cursor:pointer;" aria-hidden="true"></i>
                            1/1
                    </span>
                </th>
            </tr>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Data Cadastro</th>
                <th>Data Alteração</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios">
                <td>{{usuario.nome}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.cadastro | date:'dd/MM/yy HH:mm'}}</td>
                <td>{{usuario.alteracao | date:'dd/MM/yy HH:mm'}}</td>
                <td>
                    <span class="pull-right">
                        <i title="Editar"  routerLink="/usuarios/{{usuario.id}}" class="fa fa-pencil-square-o" style="cursor:pointer;" aria-hidden="true"></i>
                        <i title="Excluir" (click)="excluir(usuario)" class="fa fa-trash-o" style="cursor:pointer;" aria-hidden="true"></i>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<template confirm>
    <confirm-modal-component></confirm-modal-component>
</template>