#loading {
    margin: 0px;
    padding: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(102, 102, 102);
    z-index: 30001;
    opacity: 0.8;
}

#loading > p {
    position: absolute;
    color: White;
    top: 50%;
    left: 50%;
}